# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'C:\\Users\\Admin\\Anaconda3\\envs\\pandas_cub\\python.exe'

In [32]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [70]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_final

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [8]:
data = {'ones':np.array([1,1,1]), 'twos':np.array([2,2,2])}

In [9]:
a = np.array([1, 1, 1, 1])

In [14]:
df.shape

(3, 5)

In [15]:
df.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [33]:
d = pdc.DataFrame(data)

In [34]:
d

In [35]:
d['threes'] = np.array([3,3,3])

In [39]:
d['ones'] = 'ones'

In [40]:
d

In [41]:
d

In [45]:
d.tail(2)

In [46]:
d.head(2)

In [47]:
d

In [49]:
d.tail(2)

In [52]:
d.tail(2)

In [53]:
df

In [54]:
df.tail(2)

In [55]:
df

In [57]:
df.sum()

In [59]:
df.mean()

In [63]:
df['new'] = np.array([1, None, 5])

In [64]:
df

In [65]:
df.isna()

In [66]:
df.isna().sum()

In [68]:
df.count()

In [80]:
df.unique()[3]

In [79]:
df.nunique()