# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'C:\\Users\\Admin\\Anaconda3\\envs\\pandas_cub\\python.exe'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_final

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [19]:
data = {'ones':np.array([1,1,1]), 'twos':np.array([2,2,2])}

In [81]:
df = pdc.DataFrame(data)

In [30]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int32
dtype: object

In [29]:
df.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [20]:
list(data.values())

[array([1, 1, 1]), array([2, 2, 2])]

In [27]:
np.stack(list(data.values()))

array([[1, 1, 1],
       [2, 2, 2]])

In [28]:
np.column_stack(list(data.values()))

array([[1, 2],
       [1, 2],
       [1, 2]])

In [31]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int32
dtype: object

In [32]:
df_final.dtypes

In [52]:
df

In [55]:
df['height']